- name: Despliegue Seguro
        shell: cmd
        run: |
          :: 1. Liberar puerto 80
          net stop w3svc /y || ver > nul
          net stop iisadmin /y || ver > nul
          net stop ReportServer /y || ver > nul

          :: 2. Reiniciar Nginx usando variables
          taskkill /f /im nginx.exe /t || echo Nginx no corria
          cd /d "%SWAMP_NGINX_PATH%"
          start nginx.exe

          :: 3. El cambio clave: USAR 'CALL' CON LAS VARIABLES
          :: Sin 'call', el script se detiene al ejecutar pm2 y no llega al start
          call pm2 delete swamp-website || echo "Nada que borrar"
          
          :: Iniciar con variables (Rutas ocultas en GitHub) [cite: 2026-02-06]
          call pm2 start "%SWAMP_SERVE_JS%" --name "swamp-website" -- -s "%SWAMP_APP_PATH%\dist" -l 3000

          :: 4. Persistir y mostrar
          call pm2 save
          call pm2 list