name: SWAMP Deployment Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted # Ejecuta en tu servidor UTPL-SERVER-SWAMP

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Instalar dependencias
        run: npm install

      - name: Construir aplicación (Build)
        run: npm run build

      - name: Despliegue de Aplicación (PM2)
        shell: cmd
        run: |
          echo === 1. Actualizando Aplicacion con PM2 ===
          :: No reiniciamos Nginx para evitar conflictos de permisos, ya que corre estable manualmente
          
          :: Limpieza de la instancia previa para asegurar un arranque limpio
          call pm2 delete swamp-website || echo "Nada que borrar"
          
          :: Iniciar usando las variables de entorno para mantener la privacidad de las rutas
          :: Se mantiene el puerto 3000 que es el configurado en tu Proxy de Nginx
          call pm2 start "%SWAMP_SERVE_JS%" --name "swamp-website" -- -s "%SWAMP_APP_PATH%\dist" -l 3000

          echo === 2. Guardando estado y verificando ===
          :: Persistimos el estado para que la app inicie sola tras reinicios del sistema
          call pm2 save
          
          :: Mostramos el estado final para confirmar el estado 'online'
          call pm2 list